* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111111;
    color: white;
}

input {
    border: 1px solid white;
    border-radius: 5px;

    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    margin-bottom: 10px;
}

#go {
    background-color: rgb(96, 135, 96);
    cursor: pointer;
}

fieldset {
    border-radius: 5px;
}