<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webdlp</title>
    <link rel="stylesheet" href="./{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="get" action="./process">
        <fieldset>
            <legend><b><a href="https://github.com/matteofo/webdlp/commit/{{ commit }}">webdlp commit {{ commit }}: {{ commit_msg }}</a></b></legend> 
            <p>
                requests might take a while to process&excl; please be patient &colon;&rpar;<br>
                <small><i>i&apos;ll add a progress bar eventually... maybe</i></small>
            </p>
            <label for="id">id or url</label><br>
            <input required type="text" name="id"><br>
            <label for="video">include video</label>
            <input type="checkbox" name="video" checked><br>
            <label for="transcode">transcode to h264 &lpar;video only&rpar;</label>
            <input type="checkbox" name="transcode" checked><br>
            <input id="go" type="submit" value="go">
        </fieldset>
    </form>
</body>
</html>